In [1]:
import pandas as pd 
data = pd.read_csv('all_kindle_review.csv')
data.head()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [2]:
data.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'asin', 'helpful', 'rating', 'reviewText',
       'reviewTime', 'reviewerID', 'reviewerName', 'summary',
       'unixReviewTime'],
      dtype='object')

In [3]:
df = data[['rating', 'reviewText']]
df.head()

   rating                                         reviewText
0       3  Jace Rankin may be short, but he's nothing to ...
1       5  Great short read.  I didn't want to put it dow...
2       3  I'll start by saying this is the first of four...
3       3  Aggie is Angela Lansbury who carries pocketboo...
4       4  I did not expect this type of book to be in li...

In [4]:
df.shape

(12000, 2)

In [5]:
df.isnull().sum()

rating        0
reviewText    0
dtype: int64

In [6]:
df['rating'].unique()

array([3, 5, 4, 2, 1], dtype=int64)

In [7]:
df['rating'].value_counts()

5    3000
4    3000
3    2000
2    2000
1    2000
Name: rating, dtype: int64

## preprocessing and cleaning

In [8]:
df['rating'] = df['rating'].apply(lambda x:0 if x<3 else 1)

C:\Users\AYUSH\AppData\Local\Temp\ipykernel_10820\195494786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rating'] = df['rating'].apply(lambda x:0 if x<3 else 1)

In [9]:
df['rating'].value_counts()

1    8000
0    4000
Name: rating, dtype: int64

In [10]:
df['reviewText'] = df['reviewText'].str.lower()

C:\Users\AYUSH\AppData\Local\Temp\ipykernel_10820\4015411825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText'] = df['reviewText'].str.lower()

In [11]:
df.head(5)

   rating                                         reviewText
0       1  jace rankin may be short, but he's nothing to ...
1       1  great short read.  i didn't want to put it dow...
2       1  i'll start by saying this is the first of four...
3       1  aggie is angela lansbury who carries pocketboo...
4       1  i did not expect this type of book to be in li...

## lowering the words

In [12]:
df['reviewText'] = df['reviewText'].str.lower()

C:\Users\AYUSH\AppData\Local\Temp\ipykernel_10820\4015411825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText'] = df['reviewText'].str.lower()

In [13]:
df['reviewText']

0        jace rankin may be short, but he's nothing to ...
1        great short read.  i didn't want to put it dow...
2        i'll start by saying this is the first of four...
3        aggie is angela lansbury who carries pocketboo...
4        i did not expect this type of book to be in li...
                               ...
11995    valentine cupid is a vampire- jena and ian ano...
11996    i have read all seven books in this series. ap...
11997    this book really just wasn't my cuppa.  the si...
11998    tried to use it to charge my kindle, it didn't...
11999    taking instruction is a look into the often hi...
Name: reviewText, Length: 12000, dtype: object

## cleaning the data

In [14]:
import re
import nltk
from nltk.corpus import stopwords
from bs4 import BeautifulSoup

In [15]:
## Removing special characters
df['reviewText']=df['reviewText'].apply(lambda x:re.sub('[^a-z A-z 0-9-]+', '',x))
## Remove the stopswords
df['reviewText']=df['reviewText'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords.words('english')]))
## Remove url 
df['reviewText']=df['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , str(x)))
## Remove html tags
df['reviewText']=df['reviewText'].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())
## Remove any additional spaces
df['reviewText']=df['reviewText'].apply(lambda x: " ".join(x.split()))

C:\Users\AYUSH\AppData\Local\Temp\ipykernel_10820\1658462958.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']=df['reviewText'].apply(lambda x:re.sub('[^a-z A-z 0-9-]+', '',x))
C:\Users\AYUSH\AppData\Local\Temp\ipykernel_10820\1658462958.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']=df['reviewText'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords.words('english')]))
C:\Users\AYUSH\AppData\Local\Temp\ipykernel_10820\1658462958.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']=df['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , str(x)))
C:\Users\AYUSH\AppData\Local\Temp\ipykernel_10820\1658462958.py:8: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  df['reviewText']=df['reviewText'].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())
C:\Users\AYUSH\AppData\Local\Temp\ipykernel_10820\1658462958.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']=df['reviewText'].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())
C:\Users\AYUSH\AppData\Local\Temp\ipykernel_10820\1658462958.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']=df['reviewText'].apply(lambda x: " ".join(x.split()))

In [16]:
df['reviewText']

0        jace rankin may short hes nothing mess man hau...
1        great short read didnt want put read one sitti...
2        ill start saying first four books wasnt expect...
3        aggie angela lansbury carries pocketbooks inst...
4        expect type book library pleased find price right
                               ...
11995    valentine cupid vampire- jena ian another vamp...
11996    read seven books series apocalypticadventure o...
11997    book really wasnt cuppa situation man capturin...
11998    tried use charge kindle didnt even register ch...
11999    taking instruction look often hidden world sex...
Name: reviewText, Length: 12000, dtype: object

In [17]:
df.head()

   rating                                         reviewText
0       1  jace rankin may short hes nothing mess man hau...
1       1  great short read didnt want put read one sitti...
2       1  ill start saying first four books wasnt expect...
3       1  aggie angela lansbury carries pocketbooks inst...
4       1  expect type book library pleased find price right

## doing lemmatization using word net lemmatizer

In [18]:
from nltk.stem import WordNetLemmatizer

In [19]:
lemmatizer = WordNetLemmatizer()

In [20]:
def lemmatizeWord (x):
    return ' '.join(lemmatizer.lemmatize(word) for word in x.split())

In [21]:
df.head()

   rating                                         reviewText
0       1  jace rankin may short hes nothing mess man hau...
1       1  great short read didnt want put read one sitti...
2       1  ill start saying first four books wasnt expect...
3       1  aggie angela lansbury carries pocketbooks inst...
4       1  expect type book library pleased find price right

In [22]:
df['reviewText'] = df['reviewText'].apply(lambda x : lemmatizeWord(x))

C:\Users\AYUSH\AppData\Local\Temp\ipykernel_10820\632484091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText'] = df['reviewText'].apply(lambda x : lemmatizeWord(x))

In [23]:
df.head()

   rating                                         reviewText
0       1  jace rankin may short he nothing mess man haul...
1       1  great short read didnt want put read one sitti...
2       1  ill start saying first four book wasnt expecti...
3       1  aggie angela lansbury carry pocketbook instead...
4       1  expect type book library pleased find price right

## training the model

In [24]:
# train test split
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(df['reviewText'],df['rating'], test_size=0.20)

## convertin string data to nnumeric data

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer()
xtrainBow = bow.fit_transform(xtrain).toarray()
xtestBow = bow.transform(xtest).toarray()

In [30]:
xtrainBow,xtestBow

(array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64),
 array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64))

## applying TfidfVectorizer & GaussianNB

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
xtrainTfidf=tfidf.fit_transform(xtrain).toarray()
xtestTfidf=tfidf.transform(xtest).toarray()

In [35]:
from sklearn.naive_bayes import GaussianNB
nb_model_bow=GaussianNB().fit(xtrainBow,ytrain)
nb_model_tfidf=GaussianNB().fit(xtrainTfidf,ytrain)

In [36]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [38]:
y_pred_bow = nb_model_bow.predict(xtestBow)
y_pred_tfidf = nb_model_tfidf.predict(xtestTfidf)

## accuracy

In [39]:
print("TFIDF accuracy: ",accuracy_score(ytest,y_pred_tfidf))

TFIDF accuracy:  0.5820833333333333

In [41]:
print("BOW accuracy: ",accuracy_score(ytest,y_pred_bow))

BOW accuracy:  0.5779166666666666